<div class="container">
  <mat-toolbar color="primary">
    <span>Rejestracja</span>
  </mat-toolbar>
  <mat-card class="example-card">

    <mat-card-content>
      <div class="form-container">
        <mat-form-field>
          <input matInput placeholder="Nick użytkownika">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Imie" >
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Nazwisko" >
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Hasło" type="password">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="E-mail">
        </mat-form-field>

        <mat-radio-group aria-label="Select an option">
            <div>Weganin?</div>
            <mat-radio-button value="1">Tak</mat-radio-button>
            <mat-radio-button value="2">Nie</mat-radio-button>
          </mat-radio-group>
          
      </div>
    </mat-card-content>

   
    <mat-card-actions>
      <button mat-stroked-button color="accent">ZAREJESTRUJ SIĘ</button>
    </mat-card-actions>
  </mat-card>


</div>